<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
<form action="/team" method="post">
  <Label><b>Team Name: </b><input type = "text" name = "name"></label><br><br>
  <Label><b>Coach: </b><input type = "text" name = "coach"></label><br><br>
  <Label><b>Point Guard: </b><input type = "text" name = "pg"></label><br><br>
  <Label><b>Shooting Guard: </b><input type = "text" name = "sg"></label><br><br>
  <Label><b>Power Forward: </b><input type = "text" name = "pf"></label><br><br>
  <Label><b>Small Forward: </b><input type = "text" name = "sf"></label><br><br>
  <Label><b>Center: </b><input type = "text" name = "c"></label><br><br>
  <input type="submit" id="Submit" />



</form>



 </body>
</html>
