<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="post" action="/team" >
     <ul>
       <li>Team Name:<input type="text" name="name" value=""></li>
       <li>Coach:<input type="text" name="coach" value=""></li>
       <li>Point Guard:<input type="text" name="pg" value=""></li>
       <li>Shooting Guard:<input type="text" name="sg" value=""></li>
       <li>Small Forward:<input type="text" name="sf" value=""></li>
       <li>Power Forward:<input type="text" name="pf" value=""></li>
       <li>Center:<input type="text" name="c" value=""></li>
       <li><input type="submit" id = "Submit">
     </ul>

   </form>
 </body>
</html>
